body {
    color: #000000;
    background-color: #ffffff;
}


h1 {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  margin: 0px 0px;
}

h4 {
  border-bottom: 1px solid #ccc;
  margin: 0px 0px;
  padding: 10px 0;
}

.container {
    display:grid;
    grid-template-columns: repeat(3, 1fr); 
    /*grid-template-rows: 50px 200px 250px 250px;*/
    grid-gap: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 40px;
    font-size: 14px;
  }
  
  .searchbar {
      grid-column: 1 / 4;
      color: #000000;
    }
  
  .utilities {
      grid-column: 1 / 4;
      color: #000000;
    }
  
  .health-safety {
      grid-column: 1 / 2;
    }
  
  .government {
      grid-column: 2 / 3;
    }
  
  .transportation {
      grid-column: 3 / 3; 
    }
  
  .education {
    grid-column: 1 / 2;  
  }
  
  li{
    list-style:none;
  }
  
  ul{
    padding: 0;
  }
  