<!DOCTYPE html>

<html lang="en">


<head>
  <title>Durham StreetWise </title>

  <link rel="stylesheet" type="text/css" href="https://code-for-durham.s3.amazonaws.com/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&display=swap" rel="stylesheet">
  <style>
    body {
      margin: 0;
    }
    
    /* Style the header */
    .header {
      background-color: #f1f1f1;
      padding: 130px;
      font-family: "Open Sans", sans-serif;
    }
    </style>
</head>
<body>
  <div class="header">
    <h3>Welcome to the StreetWise demo. Please note, this site is under development and information is not guaranteed to be accurate! </h3>
  <p>
    Streetwise is an information lookup tool being created for Durham residents. The site will allow the end user to enter their Durham address and receive a wide variety of useful information. StreetWise is being made to benefit those who are not internet savvy or do not have readily available internet access.
  </p>
  
    Thank you for visiting StreetWise.  For more information, please visit <a href="https://codefordurham.com/project/streetwise/">CodeForDurham.com</a>   Please note, this demo is having some
        intermittent issues, but you can try it out by entering '311 E Pilot Street' below.
    <br><br><br>

    <div class="container">
    
      <div class="searchbar">
        <div>
         
          <form action="give_results" method="post"> {% csrf_token %}
  
            street address <input type="text" name="address" id="address"><br>
            
            <br><br>
            <input type="submit" value="submit">
            <div>
            </div>
          </form>
        </div>
 
  </div>

   
</body>