<!DOCTYPE html>

<html lang="en">

<head>
  <title>Durham StreetWise </title>
  <h3>Welcome to StreetWise!</h3>
  <p>
    Durham Streetwise is an information lookup tool for Durham residents that is currently under development. The site allows the end user to enter their Durham home address and receive a wide variety of useful information such as nearest library, nearest hospital and polling location. 
    We are creating this site to benefit those who are not internet savvy or do not have readily available internet access.
  </p>
  <p>
    StreetWise is geared toward Durham residents who are not web savvy, or do not have readily available internet access. The site will be simple, responsive and will generate a printable PDF that can be kept for future reference.  The site could also benefit most anyone who has recently moved to a new Durham address. Please note that this site is under development and information is not guaranteed to be accurate! 
  </p>
    <br>
    Thank you for visiting StreetWise  For more information, please visit <a href = "https://codefordurham.com/project/streetwise/" target = _blank></a>CodeForDurham.com</a>

  <link rel="stylesheet" type="text/css" href="https://code-for-durham.s3.amazonaws.com/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    
    <div class="searchbar">
      <div>
        
        <form action="give_results" method="post"> {% csrf_token %}

          street address <input type="text" name="address" id="address"><br>
          
          <br><br>
          <input type="submit" value="submit">
          <div>
          </div>
        </form>
      </div>
</body>