ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.loadingContainer {
}

.loading {
  text-align: center;
}

.container {
  display: grid;
  grid-template-areas:
    "utilities"
    "health"
    "government"
    "transportation"
    "education";
  grid-gap: 30px;
}

.utilities {
  grid-area: utilities;
}

.utilitiesWrapper {
  display: grid;
  grid-template-areas:
    "left"
    "right";
}

.utilitiesWrapper > .left {
  grid-area: left;
}

.utilitiesWrapper > .right {
  grid-area: right;
}


.government {
  grid-area: government;
}

.health {
  grid-area: health;
}

.transportation {
  grid-area: transportation;
}

.education {
  grid-area: education;
}

.safety {
  grid-area: safety;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
}

dd {
  grid-column-start: 2;
}

@media (min-width: 768px) {
  .container {
    grid-template-areas:
      "utilities utilities utilities"
      "health government transportation"
      "education . .";
  }

  .utilitiesWrapper {
    grid-template-areas:
      "left right";
  }
}
